@model WebApplication1.Models.VentasViewModel

<div class="container">
    <div class="row">
        <div class="col-12">
            <h5 class="alert alert-primary text-center">
                VENTAS REALIZADAS
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="float-lg-end">
            <form asp-controller="Ventas" asp-action="Buscar" method="post">
                <div class="col-2">
                    <label for="buscarNDC"><strong>NDC:</strong></label>
                    <input type="text" class="form-control" id="buscarNDC" name="NDC" required maxlength="15">
                </div>
                <button type="submit" class="btn btn-primary my-1">
                    <i class="fa-solid fa-plus"></i> Agregar Producto
                </button>
            </form>
        </div>
    </div>

    @if (Model.Ventas.Any())
    {
        <div class="row">
            <div class="col-12 my-2">
                <div class="table-responsive">
                    <table id="ventasTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>NoVenta</th>
                                <th>NDC</th>
                                <th>Descripción</th>
                                <th>Contenido</th>
                                <th>Precio</th>
                                <th>Fecha de Venta</th>
                            </tr>
                        </thead>
                        <tbody id="ventasBody">
                            @foreach (var venta in Model.Ventas)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(p => venta.NoVenta)</td>
                                    <td>@Html.DisplayFor(p => venta.NDC)</td>
                                    <td>@Html.DisplayFor(p => venta.Descripcion)</td>
                                    <td>@Html.DisplayFor(p => venta.Contenido)</td>
                                    <td>@Html.DisplayFor(p => venta.Precio)</td>
                                    <td>@Html.DisplayFor(p => venta.FechaVenta)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        
    }
    else
    {
        <p>No hay datos para mostrar.</p>
    }

    <div class="row">
        <div class="col-12">
            <h4>Total de la Venta: $<span id="totalVenta">@Model.TotalVentas</span></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <a asp-controller="Ventas" asp-action="realizarVenta" class="btn btn-success me-2">
                <i class="fa-solid fa-cash-register"></i> Realizar Venta
            </a>
            <a asp-controller="Ventas" asp-action="cancelarVenta" class="btn btn-danger">
                <i class="fa-solid fa-ban"></i> Cancelar Venta
            </a>
        </div>
    </div>
</div>

<div id="successMessageContainer" class="position-fixed top-0 end-0 p-3" style="z-index: 5">
    <div id="successMessageToast" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Mensaje de Éxito</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="successMessageText"></div>
    </div>
</div>

<div id="errorMessageContainer" class="position-fixed top-0 end-0 p-3" style="z-index: 5">
    <div id="errorMessageToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Mensaje de Error</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="errorMessageText"></div>
    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            var errorMessage = '@Html.Raw(TempData["ErrorMessage"])';
            if (errorMessage) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: errorMessage
                });
            }
        });

        $(document).ready(function () {
            var successMessage = '@Html.Raw(TempData["SuccessMessage"])';
            if (successMessage) {
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: successMessage
                });
            }
        });
    </script>

}
