@model IEnumerable<WebApplication1.Models.Producto>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h5 class="alert alert-primary text-center">
                LISTA DE MEDICAMENTOS
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="float-lg-end">
            <a asp-controller="Home" asp-action="Create" class="btn btn-success">
                <i class="fa-solid fa-plus"></i> Agregar
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center">
                    Administración de Medicamentos
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tablaProducto" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(p => p.Id)</th>
                                    <th>@Html.DisplayNameFor(p => p.Descripcion)</th>
                                    <th>@Html.DisplayNameFor(p => p.Precio)</th>
                                    <th>@Html.DisplayNameFor(p => p.Cantidad)</th>
                                    <th>@Html.DisplayNameFor(p => p.Caducidad)</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var elemento in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(p => elemento.Id)</td>
                                        <td>@Html.DisplayFor(p => elemento.Descripcion)</td>
                                        <td>@Html.DisplayFor(p => elemento.Precio)</td>
                                        <td>@Html.DisplayFor(p => elemento.Cantidad)</td>
                                        <td>@Html.DisplayFor(p => elemento.Caducidad)</td>
                                        <td>
                                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@elemento.Id" class="btn btn-primary">Editar</a>
                                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@elemento.Id" class="btn btn-danger">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="float-lg-end">
            <a asp-controller="Home" asp-action="generarReporte" class="btn btn-success">
                <i class="fa-solid fa-file-pdf"></i> PDF
            </a>
        </div>
    </div>
</div>

<div id="successMessageContainer" class="position-fixed top-0 end-0 p-3" style="z-index: 5">
    <div id="successMessageToast" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Mensaje de Éxito</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="successMessageText"></div>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

    <script>
        $(document).ready(function () {
            var successMessage = '@Html.Raw(TempData["SuccessMessage"])';
            if (successMessage) {
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: successMessage
                });
            }
        });
    </script>
}
